.navbar{
    background-color: #034694;
    position: relative;
    display: flex;
    flex-wrap: wrap;    
}

.container-slideshow{
    background-color: #D1D3D4;
}

.container-content{
    background-color: #D1D3D4;
    text-align: center;
}
.about{
    margin-top: 50px;
}
.jumbotron{
    background-color: #D1D3D4;
}
.about .jumbotron img{
    border-radius: 50%;
    height: 300px; 
    width: 300px;
}
.about hr{
    border-color: #034694;
    width: 100px;
    border-width: 3px;
    margin-bottom: 30px;
}

.about .my-7{
    border-color: #DBA111;
    width: 100px;
    border-width: 3px;
    margin-bottom: 30px;
}
.fa-facebook, .fa-instagram, .fa-github{
    color: #034694;
    padding: 10px;
}

.featured-player{
    padding-top: 50px;
}
.featured-player hr {
    border-color: #034694;
    width: 100px;
    border-width: 3px;
    margin-bottom: 30px;
}

.comment{
    margin-top: 30px;
}
.comment hr{
    border-color: #034694;
    width: 100px;
    border-width: 3px;
    margin-bottom: 30px;
}
.comment .form-group{
    text-align: left;
}

.footer{
    text-align: center;
    padding: 15px 15px 15px 15px;
    background-color: #034694;
}
